/* src/components/NewFeatureSection.css */
.new-feature-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: transparent;
    filter: drop-shadow(1px 1px 20px rgba(189, 162, 126, 1));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .new-feature-item {
    flex: 1 1 200px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    color: black;
    background-color: rgba(191, 186, 186, 0.8);
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .new-feature-item:hover {
    transform: translateY(-10px);
    background-color: #e1e8ed;
  }
  
  .new-feature-icon {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .new-feature-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .new-feature-description {
    font-size: 16px;
    color: black;
  }
  
  @media (max-width: 768px) {
    .new-feature-section {
      display: none;
    }
  }
  